@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using BlazorWithAuth.Server.Models
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var returnUrl = "/";
    if (Context.Request.Query.TryGetValue("returnUrl", out var existingUrl))
    {
        returnUrl = existingUrl;
    }
    //var info = await SignInManager.GetExternalLoginInfoAsync();
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*var user = await UserManager.GetUserAsync(User);
        if (user != null && info != null)
        {
            if (info.Principal.HasClaim(c => c.Type == "urn:tokens:twitter:accesstoken"))
            {
                await UserManager.AddClaimAsync(user,
                info.Principal.FindFirst("urn:tokens:twitter:accesstoken"));
            }
            if (info.Principal.HasClaim(c => c.Type == "urn:tokens:twitter:accesstokensecret"))
            { 
                await UserManager.AddClaimAsync(user,
                info.Principal.FindFirst("urn:tokens:twitter:accesstokensecret"));
            }

            var props = new AuthenticationProperties();
            props.StoreTokens(info.AuthenticationTokens);
            props.IsPersistent = true;

            await SignInManager.SignInAsync(user, props);
        }*@


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">Login</a>
        </li>
    }
</ul>